:root {
    --text: #434455;
    --primary_brand: #4D5AE5;
    --dark: #2E2F42;
    --pressed_state: #404BBF;
    --subtle_text: #8E8F99;
    --success: #31D0AA;
    --accent: #E7E9FC;
    --light: #F4F4Fd;
    --modal_overlay: rgb(46, 47, 66, 0.4);
    --hero_background: rgb(46, 47, 66, 0.7);
    --white_background: #FFFFFF;

}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text);

}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {

    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: auto;

    /* outline: 1px solid orange; */
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--------------MODAL-------------*/
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal_overlay);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    padding: 24px;
    padding-top: 72px;

    background-color: var(--white_background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--dark);
    border-radius: 50%;
    background-color: var(--white_background);


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

}

.close-btn {

    width: 8px;
    height: 8px;
    fill: var(--dark);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-close-btn:is(:hover, :focus) {
    border: 1px solid var(--pressed_state);
    background-color: var(--pressed_state);
}

.backdrop-close-btn:is(:hover, :focus) .close-btn {
    fill: var(--white_background);
    transform: rotate(180deg);
}

.modal-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}



.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 16px;
}

.modal-label-input {
    position: relative;

}

.modal-label {
    padding: 0;
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle_text);
}

.modal-label:nth-child(0n+4) {
    margin-bottom: 16px;
}


.modal-field {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding: 0;
    opacity: 0.2;
    border: 1px solid #2E2F42;
    border-radius: 4px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:focus {
    border: none;
    outline: 1px solid var(--primary_brand);
    opacity: 1;
}

.modal-field:focus+.label-icon {
    fill: var(--primary_brand);
}

.label-icon {
    fill: var(--dark);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-icon-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);


    width: 18px;
    height: 24px;
}

.label-icon-svg.kostul {
    padding-top: 5px;
}

.label-icon-use {}

.modal-textarea {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 4px;
    resize: none;

    padding: 8px 16px;
    opacity: 0.2;
    border: 1px solid #2E2F42;
    border-radius: 4px;
}

.modal-textarea:focus {
    border: none;
    outline: 1px solid var(--primary_brand);
    opacity: 1;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-police {}

.policy-label {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle_text);
}

.policy-label a {
    margin-left: 5px;
    color: var(--primary_brand);
}

.modal-chackbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;


    border: 1px solid var(--dark);
    border-radius: 2px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.real-chackbox:checked+.modal-chackbox {
    background-color: var(--pressed_state);
    background-image: url('../images/checed.svg');
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: 50% 50%;
    border: 1px solid var(--pressed_state);


}

.form-btn {
    margin: 0px 96px;

}



/*----------HEADER-FOOTER--------*/
.header {
    margin: 0;
    padding: 24px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
}

.header>.container {
    display: flex;
    justify-content: space-between;

}

.header-navigat {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-navigate-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary_brand);

    margin: 0;
    padding: 0;

}

.header-logo {
    color: var(--dark);
}

.header-adress-list {
    display: flex;
    gap: 40px;
}

.header-item {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:is(:hover, :focus) {
    color: var(--pressed_state);
}

.current {
    color: var(--pressed_state);
}

.current::after {
    position: absolute;
    content: '';
    display: block;
    background-color: currentColor;
    left: 0;
    bottom: -28px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.header-address {
    display: flex;
    font-style: normal;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin: 0;
}


.header-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:is(:hover, :focus) {
    color: var(--pressed_state);
}


.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--dark);
}

.footer-conteiner {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.footer_logo-text {}

.footer-logo {
    color: var(--light);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);

    width: 264px;
    margin-top: 16px;

}

.footer-social {
    margin-left: 120px;
}

.social-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);

}

.social-list-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.social-item-icon {}

.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:is(:hover, :focus) {
    background-color: var(--success);
}

.social-icon {

    width: 24px;
    height: 24px;
    fill: var(--white_background);
}

.footer-connect {
    display: flex;
    align-items: flex-start;

    margin-left: 80px;

}

.connect-email {
    height: 40px;
    width: 264px;
    margin-top: 16px;
    margin-right: 24px;
    padding-left: 16px;
    color: var(--white_background);


    background-color: var(--dark);
    border: 1px solid var(--white_background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.connect-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: var(--white_background);
}

.connect-btn {
    position: absolute;
    right: 0;
    top: 40px;
    width: 165px;
    height: 40px;
    padding: 8px 60px 8px 24px;
    background-color: var(--primary_brand);
    border: 1px solid var(--primary_brand);
    border-radius: 4px;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white_background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-btn:is(:hover, :focus) {
    border-color: var(--pressed_state);
    background-color: var(--pressed_state);
}

.connect-btn::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    background-image: url(../images/telegram.svg);

}

/*----------MAIN---------*/
.face {
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.face-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.face-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: var(--white_background);


    margin-bottom: 48px;
    width: 496px;

}

.face-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary_brand);
    color: var(--white_background);
    cursor: pointer;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.face-btn:is(:hover, :focus) {
    background-color: var(--pressed_state);
}

.targets {
    padding-top: 120px;
    padding-bottom: 120px;

}

.targets-item {}

.targets-pictures {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;
    margin-bottom: 8px;

    background: var(--light);
    border-radius: 4px;
}

.targets-svg {}

.targets-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}



.targets-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);

    margin-bottom: 8px;

}

.targets-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);

    margin: 0;
}

.activity {
    padding-top: 0;
    padding-bottom: 120px;
}

.activiti-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);

    margin-bottom: 72px;

}

.activity-list {
    display: flex;
    justify-content: space-between;

}

.team {
    background-color: var(--light);

    padding-top: 120px;
    padding-bottom: 120px;

}

.team-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);

    margin-bottom: 72px;

}

.team-list {
    display: flex;
    justify-content: space-between;

}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white_background);
}

.team_person-job {
    padding: 32px 16px;
    margin: 0;
}

.team-person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);

    margin-bottom: 8px;

}

.team-job {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text);

}

.team-list-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 24px; */
    margin-top: 8px;
}

.team-item-icon {}

.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary_brand);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:is(:hover, :focus) {
    background-color: var(--pressed_state);
}

.team-icon {

    width: 16px;
    height: 16px;
    fill: var(--white_background);
}

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-main {

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 24px; */
}


.customers-item {}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    margin: 0;

    border: 1px solid var(--subtle_text);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: var(--subtle_text);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
    cursor: pointer;
    border-color: var(--pressed_state);
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--pressed_state);
}

/*----------PORTFOLIO---------*/
.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.filters-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--primary_brand);

    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    border: 1px solid var(--accent);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:is(:hover, :focus) {
    color: var(--white_background);
    background-color: var(--pressed_state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.exempl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 72px 0 0 0;
    row-gap: 48px;
    column-gap: 24px;
}

.exempl-item {
    flex-basis: calc((100% - 48px) / 3);
}

.exempl-link {
    display: block;
    background-color: var(--white_background);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exempl-picture {
    position: relative;
    overflow: hidden;
}

.exempl-picture-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: var(--primary_brand);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.exempl-link:is(:hover, :focus) .exempl-picture-text {
    transform: translateY(0);
}

.exempl-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.exempl-job_filter {
    border-bottom: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.exempl-job {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);

    margin-bottom: 8px;
}

.exempl-filter {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);

}